@-webkit-keyframes debaixoparacima {
  0% {
    transform: translateY(100px);
    opacity: 0.1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* HOME */

.home-container {
  min-height: 80vh;
}

.icones {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 300px;
  position: absolute;
  bottom: 20px;
}

.home-container {
  display: none;
}

.home-container.mostrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.youtubeHome{
  border: 2px solid white;
  border-radius: 10px;

}

/* APÓS O CADASTRO */

.esconder{
  display: none;
}

.apresentacaoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.apresentacao{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
}

.apresentacaoDiv h1{
  color: white;
}

.buttonIniciar {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}